[log]
path = "/Users/nightwolf/go/src/github.com/nightwolf93/transmitter-server/build/transmitter.log"
maxFileSize = 500
maxBackups = 10
maxAge = 20

[websocket]
host = "127.0.0.1"
port = 6601
readBufferSize = 1024
writeBufferSize = 1024

[api]
key = "91334BB193D4C8E87BB774EEEB38DEF6D247B6AFDA3E847FF36B34C33D" # Change me now

[storage]
dbfilepath = "./storage"